<h1 class="text-center mb-5">
  Editing todo
</h1>

<%= render "form", todo: @todo %>
<br>
<div class="float-end">
  <%= link_to "Show todo", @todo %><br>
  <%= link_to "Back to todos", todos_path, class: "text-secondary" %>
</div>
